{
  "plugins": [ "node" ],
  "extends": [ "eslint:recommended", "plugin:node/recommended" ],
  "env": {},
  "globals": {},
  "rules": {
		"strict": [ "error", "global" ],
    "node/no-unsupported-features": [
      "error",
      {
        "version": 6
      }
    ],
    "no-irregular-whitespace": 2,
    "quotes": [
      2,
      "single"
		],
		"no-unused-vars": [
			"error",
			{ "vars": "all", "args": "none", "ignoreRestSiblings": false }
		],
		"eqeqeq": [ "error" ],
		"no-throw-literal": [ "error" ],
		"semi": [ "error", "always" ]
  }
}
